
@{
    ViewBag.Title = "Data Manager";
}

<h2>@ViewBag.Title</h2>

<h3><a href="@Url.Action(MVC.District.Index())">Districts</a></h3><br />
<h3><a href="@Url.Action(MVC.School.Index())">Schools</a></h3>
